* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:url('https://raw.githubusercontent.com/SaladGrens/GLCWebsite/refs/heads/main/resources/glcimage.jpg'); /* Replace with your image file */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Makes sure the image covers the whole area */
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-bar {
    top : 0px;
    bottom: 0px;
    width: 250px;
    height: relative;
    background-color: hsla(239, 33%, 27%, 0.40);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 200px;
    position: fixed;
}

.GLC_Logo {
    top: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-button {
    width: 80%;
    background-color: #F4D35E;
    color: #2E2F5B;
    text-decoration: none;
    padding: 8px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold

}

.menu-bar p {
    text-align: center;
    color: #f5f5f5;
    bottom: 0;
    position: fixed;
}

.menu-button:hover {
    background-color: #c4a843;
    color: #f5f5f5;
}

.glcmain {
    height: 100vh; /* Full screen height */
    display: flex; /* Centers the text */
    align-items: center; /* Centers vertically */
    text-align: left; /* Centers text */
    margin-left: 260px;
}

.white-text {
    color: #f5f5f5;
    font-size: 80px;
}

/* The yellow-highlighted text */
.highlighted-text {
    color: #fada5e; /* Yellow color */
    font-size: 80px;
}

.homecontent h3 {
    width: relative;
    height: 80vh; /* Full screen height */
    align-items: left; /* Centers vertically */
    text-align: left; /* Centers text */
    margin: 0px;
    color: #f5f5f5;
    font-size: 25px;
    margin-left: 260px;
}
