.glcabout {
    height: 100vh;
    width: 100vh;
    top: 0;
    bottom: 0;
    text-align: left; /* Centers text */
    margin-left: 260px;
}

.glcabout h1{
    color: #fada5e;
    font-size: 40px;
}

.glcabout h2{
    color: #f5f5f5;
    font-size: 20px;
}

.glcabout p{
    color: #f5f5f5;
    font-size: 25px;
}

.glcabout ul{
    margin-left: 50px;
    color: #f5f5f5;
    font-size: 20px;
}